{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Przepisy</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <h2>Lista przepisów:</h2>

    {% if recipes|length == 0 %}
        <h3>Pusta lista</h3>
    {% else %}
        <p>Ilość: {{ recipes|length }}</p>
        {% for recipe in recipes %}

           <h3> {{ recipe }} </h3>
           <p> {{ recipe.description }}</p>
           <p> {{ recipe.steps }}</p>
        {% endfor %}
    {% endif%}
</body>
</html>